@import 'tailwindcss';

@layer base {
	body {
		@apply w-[360px] min-h-[500px] max-w-full max-h-full flex flex-col bg-slate-50 dark:bg-slate-800 text-black dark:text-slate-300;
	}

	#app {
		@apply w-full h-full flex flex-col grow;
	}
}
